Flask
Flask-WTF
matplotlib
spacy
nltk
PyPDF2 
tqdm
pandas
numpy
sklearn
wordcloud
pygal
python-docx
rarfile
lda
bokeh
Flask-login
Flask-SQLAlchemy
Flask-Session
pyLDAvis
Azure.storage.blob
mpld3
crython